@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&display=swap');

.navigation {
    background-color: #0F52BA;
    text-align: left;
    display: flex;
    height: 50px;
}

.navigation ul {
    display: flex;
    height: 100%;
    list-style: none;
    color: #fff;
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}

.navigation ul li {
    width: auto;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px 10px 5px;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active, .navigation ul li:hover {
    background-color: #2541B2;
}

.sub-menu-1 {
    display: none;
}

.sub-menu-1 ul li a {
    margin-right: 20px;
}

.navigation ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: #0F52BA;
    margin-left: -10px;
    z-index: 3;
}

.navigation ul li:hover .sub-menu-1 ul {
    display: block;
    margin-left: -25px;
    padding-right: 10px;
}

.navigation ul li:hover .sub-menu-1 ul li {
    width: auto;
    white-space: nowrap;
    padding: 10px 0px 10px 0;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.navigation ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.navigation ul li:hover .sub-menu-1 ul li a:hover {
    color: #a9a9a9;
}

.fa-angle-right {
    float: right;
}

.store-name{
    width: 200px;
    margin-right: 10px;
    display: inline-flex;
    margin-top: 1px;
}

.header-right{
    position: absolute;
    right: 0;
    color: #fff;
    transition: all .5s;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
    /* border: 1px solid black; */

}

.header-right:hover form{
    display: block;
    position: absolute;
    padding-top: 10px;
}

.header-right form {
    display: none;
    background-color: #0F52BA;
}

.header-right form button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0 10px 10px 10px;
}

.header-right form button:hover {
    color: #a9a9a9;
}


.logo{
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(4px);
    display: none;
}

.logo-content{
    position: absolute;
    background-image: url("../images/Store_name.png");
    width: 80%;
    height: 60%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
}

.sales {
    width: 20%;
    padding-left: 40px;
    line-height: 50px;
    color: white;
    font-weight: bold;
}

.show-sub-menu-2:hover {
    cursor: pointer;
}

.show-sub-menu-2:hover .sub-menu-2 {
    display: block;
}

.sub-menu-2 {
    position: absolute;
    background-color: #0F52BA;
    right: -103%;
    top: 5%;
    display: none;
}

.sub-menu-2 ul{
    display: flex;
}

.sub-menu-2 ul li {
    padding-bottom: 0;
    margin-bottom: 0;
}