.container{
    display: flex;
    min-width: 85%;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.container .title {
    font-size: 22px;
    font-weight: 500;
    padding-left: 10px;
}

.container-table {
    border: 1px solid #ccc;
    padding: 10px;
}
